:root {
  box-sizing: border-box;
  --dark-gray: rgb(71, 71, 71);
  --light-gray: rgb(130, 130, 130);
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  max-width: 1080px;
  padding: 1em;
  margin: 0 auto;
  background-color: #f2f2f2;
  font-family: "montserrat", Arial, Helvetica, sans-serif;
}
.media {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.media.profile {
  background-color: #fff;
  padding: 1em;
  border-radius: 0.75em;
}
.profile__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.5em;
}
.profile__body {
}
.profile__job {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.profile__address {
  display: flex;
  align-items: center;
  gap: 1em;
}
.profile__address span {
  font-size: 1.125em;
  font-weight: 500;
  color: var(--dark-gray);
}
.profile__name {
  color: var(--dark-gray);
  font-size: 1.5em;
  font-weight: 600;
  margin: 0 0 0.1em;
}
.profile__occupation {
  font-size: 1.125em;
  font-weight: 500;
  color: var(--light-gray);
  margin: 0;
}
.profile__text {
  font-size: 1.125em;
  color: var(--light-gray);
  margin-top: 4em;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}
@media (min-width: 45em) {
  .profile {
    flex-direction: row;
    gap: 2em;
  }
  .profile__job {
    flex-direction: row;
    justify-content: space-between;
  }
  .profile__image {
    width: 272px;
    height: 266px;
  }
}
.experience {
  background-color: #fff;
  padding: 1em;
  color: var(--dark-gray);
  margin-top: 2em;
  border-radius: 0.75em;
}
.experience__header {
  font-size: 1.125em;
  color: var(--dark-gray);
  text-transform: uppercase;
}

.experience__skill > div {
  margin-bottom: 0.8999em;
  display: grid;
  grid-template-columns: 7em 1fr;
  align-items: center;
}
.experience__name {
  font-weight: 500;
  margin: 0;
}
.experience__progress {
  height: 0.625em;
  width: 100%;
  background: rgba(196, 196, 196, 1);
  border-radius: 0.75em;
}
.experience__html {
  width: 80%;
  background: rgba(47, 128, 237, 1);
  height: 100%;
  border-radius: 0.75em;
}
.experience__css {
  width: 55%;
  background: rgba(47, 128, 237, 1);
  height: 100%;
  border-radius: 0.75em;
}
.experience__javascript {
  width: 15%;
  background: rgba(47, 128, 237, 1);
  height: 100%;
  border-radius: 0.75em;
}
.hobby {
  padding: 1em;
  background-color: #fff;
  margin-top: 2em;

  border-radius: 0.75em;
}
.hobby__header {
  font-size: 1.5em;
  color: var(--dark-gray);
  font-weight: 500;
}
.hobby__image {
  border-radius: 0.75em;
  width: 100%;
}
.hobby__name {
  font-size: 1.125em;
  color: rgb(51, 51, 51);
  font-weight: 600;
  margin: 0.5em 0;
}
.hobby__description {
  font-weight: 500;
  color: var(--light-gray);
  margin-top: 0;
}
.hobby div + div {
  margin-top: 2em;
}
.blog {
  background-color: #fff;
  padding: 1em;
  margin-top: 2em;
}
.blog__title {
  font-weight: 500;
  color: rgba(224, 224, 224, 1);
  margin: 0;
}
.showcase {
  display: grid;
  margin-bottom: 3em;
}
.blog__image {
  width: 100%;
  border-radius: 0.75em;
}
.blog p {
  color: var(--light-gray);
  font-weight: 500;
}
.showcase h2 {
  font-size: 1.5em;
  color: rgba(51, 51, 51, 1);
  max-width: 180px;
  font-weight: 500;
}
.blog__link {
  margin-top: 3em;
  display: inline-block;
  text-decoration: none;
  color: rgba(47, 128, 237, 1);
}
.career-container {
  background-color: #fff;
  padding: 1em;
  margin-top: 2em;
  border-radius: 0.75em;
}
.media.career {
  flex-direction: row;
  align-items: center;
}
.career__title {
  font-weight: 500;
  color: var(--dark-gray);
}
.career__image {
  width: 106px;
}
.career__date {
  font-size: 0.875rem;
  color: var(--light-gray);
  font-weight: 500;
}
.career__about {
  font-weight: 600;
  color: rgba(51, 51, 51, 1);
}
.career__description {
  font-weight: 500;
  color: var(--light-gray);
}
.career + .career {
  margin-top: 2em;
}
@media (min-width: 49em) {
  .dev {
    display: flex;
    gap: 2em;
  }
  .hobby__image {
    width: 300px;
    height: 100px;
    object-fit: cover;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
  }
  .blog,
  .career-container {
    flex-grow: 1;
  }
  .showcase {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
}
.project-container {
  padding: 2em;
  background-color: #fff;
  border-radius: 0.75em;
  margin-top: 3.5em;
}
.project__header {
  font-size: 1.125em;
  font-weight: 500;
  color: var(--dark-gray);
  margin: 0 0 1em;
}
.project__type {
  border: 1px solid var(--dark-gray);
  padding: 0.5em 1.5em;
  color: var(--dark-gray);
  font-size: 0.875em;
  font-weight: 500;
  border-radius: 0.75em;
  display: inline-block;
  margin-bottom: 1em;
}
.responsive {
  background: rgba(47, 128, 237, 1);
  color: #fff;
  border: 0;
}
.project__type {
  margin-right: 1em;
}
.card-container {
  display: grid;
  margin-top: 3em;
  gap: 1.5em;
}
.card {
  background: #fff;
  padding: 1em;
  border-radius: 0.75em;
}
.image-container {
  height: 470px;
}
.card__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.75em;
}
.card__tag {
  font-weight: 500;
  color: var(--dark-gray);
  margin-right: 1em;
  display: inline-block;
  margin-top: 3em;
}
.card__header {
  color: rgba(51, 51, 51, 1);
  font-size: 1.5em;
}
.card__description {
  font-weight: 500;
  margin-bottom: 3em;
  color: var(--light-gray);
}
.btn {
  border: 1px solid rgba(47, 128, 237, 1);
  border-radius: 0.75em;
  padding: 0.7em 2em;
  font-size: 1.125em;
  font-weight: 500;
  text-decoration: none;
  display: inline-block;
  color: rgba(47, 128, 237, 1);
  margin-bottom: 1.5em;
}
.btn.demo {
  margin-right: 0.8em;
}
.btn.code:hover,
.btn.demo:hover {
  color: #fff;
  background: rgba(47, 128, 237, 1);
  text-decoration: underline;
}
@media (min-width: 720px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
.page-nav {
  margin-top: 1.5em;
  display: flex;
  gap: 0.5em;
  align-items: center;
  justify-content: flex-end;
}
.page-link {
  border: 1px solid rgba(79, 79, 79, 1);
  color: var(--dark-gray);
  font-size: 0.75em;
  width: 2.7em;
  height: 2.7em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.3em;
}
.page-link:hover {
  background: rgba(47, 128, 237, 1);
  color: #fff;
  border: 0;
}
.page-number {
  font-family: "roboto", Arial, Helvetica, sans-serif;
}
.footer {
  margin-top: 7em;
}
.credit {
  font-size: 0.875em;
  color: rgba(130, 130, 130, 1);
  font-weight: 500;
  margin-bottom: 0;
  text-align: center;
}
